<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title> 购物车</title>
<!--  <link rel="stylesheet" href="../css/semantic.min.css">
  <link rel="stylesheet" href="../css/init.css">
  <script src="../javascript/jquery.js"></script>
  <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>-->
  <link rel="stylesheet" href="styleShoplist.css">
  <script src="angular.js"></script>
</head>
<body>
<div class="catbox"  ng-app="myApp" ng-controller="myCart">
  <table id="cartTable">
    <thead>
    <tr>
      <th><label><input class="check-all check" type="checkbox" ng-click="checkAll()" ng-model="all"/> 全选</label></th>
      <th>商品</th>
      <th>单价</th>
      <th>数量</th>
      <th>小计</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="c in cartList">
        <td class="checkbox"><input class="check-one check" type="checkbox" ng-model="c.check" /></td>
        <td class="goods"><img src="{{c.image}}" alt=""/><span>{{c.name}}</span></td>
        <td class="price">{{c.price.toFixed(2)}}</td>
        <td class="count">
          <span class="reduce"ng-click="reduce($index)">-</span>
          <input class="count-input" type="text" ng-model="c.num"placeholder="请输入大于0的数" ng-change="change($index)"/>
          <span class="add"ng-click="add($index)">+</span>
        </td>
        <td class="subtotal">{{c.total}}</td>
        <td class="operation"><span class="delete"ng-click="remove($index)">删除</span></td>
      </tr>
    </tbody>
  </table>
  <div class="foot" id="foot">
    <div class="fr closing">结 算</div>
    <div class="fr total">合计：￥<span>{{sumTotal}}</span></div>
  </div>
</div>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCart', function($scope) {
    $scope.cartList=[
      {
        id:0,
        image:"http://7xt0gu.com1.z0.glb.clouddn.com/%E8%93%9D%E7%8E%AB%E7%91%B0.jpg",
        name:"蓝色妖姬",
        price:199.00,
        num:1,
        total:199.00,
        check:false
      },
      {
        id:1,
        image:"http://7xt0gu.com1.z0.glb.clouddn.com/%E6%98%99%E8%8A%B1.jpg",
        name:"昙花",
        price:200.00,
        num:1,
        total:200.00,
        check:false
      },
      {
        id:2,
        image:"http://7xt0gu.com1.z0.glb.clouddn.com/%E5%BD%A9%E8%89%B2%E7%8E%AB%E7%91%B0.jpg",
        name:"彩色玫瑰",
        price:1314.00,
        num:1,
        total:1314.00,
        check:false
      }]
    $scope.checkAll=function(){
      for(var i in $scope.cartList){
        $scope.cartList[i].check=$scope.all;
      }
    }
    //移除一项
    $scope.remove=function(index){
      if(confirm('确定移除此项吗？')){
        $scope.cartList.splice(index,1);
      }
    };
    //减少
    $scope.reduce= function (index) {
      if($scope.cartList[index].num>1){
        $scope.cartList[index].num--;
      }else{
        $scope.remove(index);
      }
    };
    //增加
    $scope.add=function(index){
      $scope.cartList[index].num++;
    };
    //使得输入框中不得小于等于0
    $scope.change=function(index){
      if($scope.cartList[index].num>=1){
      }else{
        $scope.cartList[index].num=1;
      }
    };
    $scope.$watch('cartList',function(newValue,oldValue,scope){
      $scope.sumTotal=0; //总计
      $scope.count=0; //计数器
      for(var i in newValue){
        var total=newValue[i].num*newValue[i].price; //计算出新的结果
        $scope.cartList[i].total=total.toFixed(2); //保留2位小数并且把它赋值给元数据;
        if(newValue[i].check){
          $scope.sumTotal+=total;
          $scope.count++;
        }
      }
      $scope.all=($scope.count==newValue.length); //如果所有的都选中的话，那么全选也应该选中
    },true);
  });
</script>
</body>
</html>